@page "/"
@page "/home"
@inject IStringLocalizer<App> L
@using Microsoft.Extensions.Localization;

<div class="content-container">
    <div class="content">
        <h1 class="page-title">Integrity@Inside</h1>
        <p class="title">
            @L["whistleblowing_title"]
            <br />
        </p>
        <p>
            @L["index_info_text_1"]
            <br />
        </p>
        <p>
            @L["index_info_text_2"]
            <br />
        </p>
        <p>
            @L["index_info_text_3"]
            <br />
        </p>
        <p>
            @L["index_info_text_4"]
            <br />
        </p>
        <p>
            @L["index_info_text_5"]
            <br />
        </p>
        <p>
            @L["index_info_text_6"]
            <br />
        </p>
        <p>
            @L["index_info_text_7"]
            <br />
        </p>
        <p>
            <b>@L["index_contact"]</b> <br />
            Integrity@inside.ch
        </p>
    </div>
</div>

