@page "/"
@page "/home"
@inject IStringLocalizer<App> L
@using Microsoft.Extensions.Localization;

<div class="content-container">
    <div class="content">
        <h1 class="page-title">Integrity@Inside</h1>
        <p>
            <MudText Color="Color.Dark" Typo="Typo.h6">@L["whistleblowing_title"]</MudText>
            <br />
        </p>
        <p>
            @L["index_info_text_1"]
            <br />
        </p>
        <p>
            @L["index_info_text_2"]
            <br />
        </p>
        <p>
            @L["index_info_text_3"]
            <br />
        </p>
        <p>
            @L["index_info_text_4"]
            <br />
        </p>
        <p>
            @L["index_info_text_5"]
            <br />
        </p>
        <p>
            @L["index_info_text_6"]
            <br />
        </p>
        <p>
            @L["index_info_text_7"]
            <br />
        </p>
        <p>
            <b>@L["index_contact"]</b> <br />
            integrity@inside.ch
        </p>
    </div>
</div>


<MudOverlay Visible="_showDisclaimer" DarkBackground="true" Absolute="true">
    <div class="d-flex flex-column">
        <MudAlert Style="max-width: 500px; align-items: baseline; background-color: rgba(113, 113, 113, 0.91);" NoIcon="true" Severity="Severity.Normal" Variant="Variant.Filled" ShowCloseIcon="true" CloseIconClicked="(ToggleOpen)">
            @L["disclaimer_infotext"]
            <br><br>
            @L["disclaimer_whistleblower_contact"]
            <br>
            @L["disclaimer_mr"] Stephan Bolliger
            <br>
            c/o BDO AG
            <br>
            Schiffbaustrasse 2
            <br>
            8005 Zürich
            <br>
            +41 62 834 92 22
            <br>
            <a class="link" href="mailto:stephan.bolliger@bdo.ch">stephan.bolliger@bdo.ch</a>
            <br> <br>
            @L["disclaimer_project_contact"] <a class="link" href="mailto:petra.asprion@fhnw.ch">petra.asprion@fhnw.ch</a>.
        </MudAlert>
    </div>
</MudOverlay>