@page "/manual"
@inject IStringLocalizer<App> L
@using Microsoft.Extensions.Localization;

<div class="content-container">
    <div class="content">
        <h1 class="page-title">@L["manual_title"]</h1>

        <MudText Typo="Typo.h6">@L["manual_1_subtitle"]</MudText>
        <MudText>
            <ul>
                <li>@L["manual_1_listitem_1"]</li>
                <li>@L["manual_1_listitem_2"]</li>
                <li>@L["manual_1_listitem_3"]</li>
            </ul>
        </MudText>

        <MudTabs Outlined="true" Position="Position.Top" Rounded="true" Border="true"
                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
            <MudTabPanel Text=@L["manual_2_subtitle"]>
                <MudText>
                    @L["manual_2_text_1"]
                    <ol>
                        <li>@L["manual_2_listitem_1"]</li>
                        <li>@L["manual_2_listitem_2"] </li>
                        <li>@L["manual_2_listitem_3"]</li>
                        <li>@L["manual_2_listitem_4"]</li>
                    </ol>
                    <br/>
                    <MudCard>
                        <MudCardMedia Image="WhistleblowerSystem/Client/wwwroot/images/Beispielbild1.png"> </MudCardMedia>
                    </MudCard>
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text=@L["manual_3_subtitle"]>
                <div style="display: flex; flex-direction: column">
                    <MudText>
                        @L["manual_3_text_1"]
                        <br/> <br/>
                        <strong>@L["manual_3_text_2"]</strong>
                        <ol>
                            <li>@L["manual_3_listitem_1"]</li>
                            <li>@L["manual_3_listitem_2"]</li>
                            <li>@L["manual_3_listitem_3"]</li>
                        </ol>
                        <br/>
                        <MudCard>
                            <MudCardMedia Image="WhistleblowerSystem/Client/wwwroot/images/Beispielbild1.png"></MudCardMedia>
                        </MudCard>
                        <br/> <br/>
                        @L["manual_3_text_3"]
                    </MudText>
                </div>

            </MudTabPanel>
            <MudTabPanel Text=@L["manual_4_subtitle"]>
                <MudText>
                    @L["manual_4_text_1"]
                    <ul>
                        <li>
                            <strong>@L["manual_4_listtitle_1"]</strong> @L["manual_4_listitem_1"]
                        </li>
                        <li>
                            <strong>@L["manual_4_listtitle_2"]</strong> @L["manual_4_listitem_2"]
                        </li>
                        <li>
                            <strong>@L["manual_4_listtitle_3"]</strong> @L["manual_4_listitem_3"]
                        </li>
                    </ul>
                    <br/>
                    @L["manual_4_text_2"]
                    <br/> <br/>
                    @L["manual_4_text_3"]
                    <ul>
                        <li>@L["manual_4_listitem_4"]</li>
                        <li>@L["manual_4_listitem_5"]</li>
                        <li>@L["manual_4_listitem_6"]</li>
                        <li>@L["manual_4_listitem_7"]</li>
                        <li>@L["manual_4_listitem_8"]</li>
                        <li>@L["manual_4_listitem_9"]</li>
                        <li>@L["manual_4_listitem_10"]</li>
                        <li>@L["manual_4_listitem_11"]</li>
                    </ul>
                    <br/>
                    @L["manual_4_text_4"]
                    <br/> <br/>
                    <strong>@L["manual_4_text_5"]</strong> @L["manual_4_text_6"]
                    <br/> <br/>
                    <MudCard>
                        <MudCardMedia Image="WhistleblowerSystem/Client/wwwroot/images/Beispielbild1.png"></MudCardMedia>
                    </MudCard>
                    <br/> <br/>
                    @L["manual_4_text_7"]
                    <br/> <br/>
                    @L["manual_4_text_8"]
                    <br/> <br/>
                    @L["manual_4_text_9"]
                    <br/> <br/>
                    <MudCard>
                        <MudCardMedia Image="WhistleblowerSystem/Client/wwwroot/images/Beispielbild1.png"></MudCardMedia>
                    </MudCard>
                    <br/> <br/>
                    @L["manual_4_text_10"]
                    <br/>
                    @L["manual_4_text_11"]
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text=@L["manual_5_subtitle"]>
                <MudText>
                    @L["manual_5_text_1"]
                    <br/> <br/>
                    @L["manual_5_text_2"]
                    <br/> <br/>
                    <MudCard>
                        <MudCardMedia Image="WhistleblowerSystem/Client/wwwroot/images/Beispielbild1.png"></MudCardMedia>
                    </MudCard>
                    <br/> <br/>
                    @L["manual_5_text_3"]
                    <br/> <br/>
                    @L["manual_5_text_4"]
                    <br/> <br/>
                    @L["manual_5_listtitle_1"]
                    <ul>
                        <li>@L["Undefined"]</li>
                        <li>@L["Received"]</li>
                        <li>@L["Processing"]</li>
                        <li>@L["Closed"]</li>
                    </ul>
                    <br/>
                    @L["manual_5_text_5"]
                    <br/> <br/>
                    @L["manual_5_text_6"]
                    <br/> <br/>
                    @L["manual_5_text_7"]
                    <br/> <br/>
                    @L["manual_5_text_8"]
                    <br/> <br/>
                    <MudCard>
                        <MudCardMedia Image="WhistleblowerSystem/Client/wwwroot/images/Beispielbild1.png"></MudCardMedia>
                    </MudCard>
                    <br/> <br/>
                </MudText>
            </MudTabPanel>
            <MudTabPanel Text=@L["manual_6_subtitle"]>
                <MudText>
                    @L["manual_6_text_1"]
                </MudText>
            </MudTabPanel>
        </MudTabs>
    </div>
</div>
